@page
@model _21880109_QuanLyCuaHang_LTHDT.Pages.MH_ThemMatHangModel
@using Entities
@{
}
<form method="post">
    <label for="MaMatHang">Nhap Ma Mat Hang:</label><br />
    <input type="text" name="MaMatHang" value=""><br />
    <label for="TenMatHang">Nhap Ten Mat Hang:</label><br />
    <input type="text" name="TenMatHang" value=""><br />
    <label for="ngaySX">Nhap Ngay SX:</label><br />
    <input type="date" name="ngaySX" value=""><br />
    <label for="handung">Nhap Han Su Dung:</label><br />
    <input type="date" name="handung" value=""><br />
    <label for="ctysx">Nhap Cong Ty San Xuat:</label><br />
    <input type="text" name="ctysx" value=""><br />


    <label for="loaihang">Nhap Loai Hang:</label><br />
    <select name="loaihang" value="">
        @{
            foreach (LoaiHang lh in Model.dsLoaiHang)
            {
                <option value="@lh.TenLoaiHang">@lh.TenLoaiHang</option>
            }
        }
    </select>
    <br />

    <label for="gia">Nhap Gia:</label><br />
    <input type="text" name="gia" value=""><br /><br />


    <input type="submit" value="Thêm">
</form>
@Model.Chuoi