@page
@model _21880109_QuanLyCuaHang_LTHDT.Pages.MH_ThemLoaiHangModel
@using Entities
@{
}
<form method="post">
    <label for="MaLoaiHang">Nhap Ma Loai Hang:</label><br />
    <input type="text" name="MaLoaiHang" value=""><br />
    <label for="TenLoaiHang">Nhap Ten Loai Hang:</label><br />
    <input type="text" name="TenLoaiHang" value=""><br />

    <input type="submit" value="Thêm">
</form>
@Model.Chuoi