@page
@model _21880109_QuanLyCuaHang_LTHDT.Pages.MH_TimKiemLoaiHangModel
@{
}
<div class="Them">
    <a href="/MH_ThemMatHang">+ Thêm Loại Hàng Mới</a>
</div>

<form method="post">
    <label for="tukhoa">Nhập từ khóa: </label>
    <input type="text" name="tukhoa" value="">
    <select name="danhMucTimKiem">
        <option value="">--Tìm kiếm theo--</option>
        <option value="MaLoaiHang">Mã Loại Hàng</option>
        <option value="TenLoaiHang">Tên Loại Hàng</option>
    </select>

    <input type="submit" value="Tìm kiếm">
</form>

<table>
    <tr>
        <th>Mã Loại Hàng</th>
        <th>Tên Loại Hàng</th>
        <th></th>

    </tr>
    @foreach (var sp in Model.dsLoaiHang)
    {
        <tr>
            <td>@sp.MaLoaiHang</td>
            <td>@sp.TenLoaiHang</td>
            <td>
                <a href="/MH_SuaMatHang?id=@sp.MaLoaiHang">Sửa</a>
                <a href="/MH_XoaMatHang?id=@sp.MaLoaiHang">Xóa</a>
            </td>

        </tr>
    }
</table>

