@page
@model _21880109_QuanLyCuaHang_LTHDT.Pages.MH_XoaHoaDonNhapHangModel
@{
}
<form method="post">
    <div>Bạn có muốn xóa Hóa Đơn @Model.Id</div>
    <input type="submit" value="Xóa">
</form>
@Model.Chuoi